body.report {
    font-family: Roboto, sans-serif;
    background: #faf3de;
    padding:0px;
    margin:0px;
}

h1.report  {
    font-size:1.5em;
    background:#FFF;
    display:block;
    float:left;
    border:1px solid #0c1d36;
    border-radius:5px;
    margin-left:5px;
    width:80%;
    padding:10px;
}

.socials {
    float:right;
    margin-top:15px;
}

.fb-share-button {
    margin-left:5px;
    margin-right:5px;
}


#report {
    padding:10px;
}

header, footer {
    background-color: #0c1d36;
}

footer.report {
    min-height: 15%;
    text-align:center;
    color:#FFF;
}

footer.report a {
    color:#FFF;
}

.header-left, .header-right {
    float:left;
    width:49%;
}

.header-right {
    color: #FFF;
    text-align:right;
    padding-top:10px;
    padding-right:2%;
    font-size:2em;
}

.run {
    margin-top:10px;
    margin-bottom:10px;
    text-align:center;
    font-size:1em;
}

.tabbank {
    margin-top:5px;
    margin-left:5px;
}

.summaryLeft, .summaryRight, .tableLeft, .tableRight {
    float:left;
}

.summaryLeft {
    width:55%;
    padding-right:5%;
}

.summaryRight {
    width:39%;
    text-align:center;
}

.tab {
    display:block;
    cursor:pointer;
    float:left; 
    text-align:center;
    height:35px;
    border-top:1px solid #0c1d36;
    border-left:1px solid #0c1d36;
    border-right:1px solid #0c1d36;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom:none;
    padding:10px;
    margin-right:5px;
    margin-top:10px;
    font-size:1em;
    background: #0c1d36;
    color: #FFF;
}

.tab.selected {
    font-weight:bold;
    font-size:1em;
    background: #a32d26;
    border-top:1px solid #a32d26;
    border-left:1px solid #a32d26;
    border-right:1px solid #a32d26;
}

.tabcontents section {
    border:2px solid #0c1d36;
    border-radius:5px;
    background: #EEE;
    height:70%;
}

div.section {
    margin:30px;
}

.tabcontents h3 {
    margin-top:0px;
}

.tableLeft {
    margin-bottom:10px;
}

.tableRight {
    margin-bottom:10px;
}

.score-text {
    padding:15px;
}


.circle-score {
    position: relative;
    box-shadow: inset 0 0 21px rgb(255, 255, 255);
    display: inline-block;
    width: 30rem;
    height: 30rem;
    margin-bottom:4.5rem;
    border-radius: 27rem;
    border-bottom-color: #FFF!important;
    text-align: center;
    box-sizing: border-box;
}

.circle-score .values {
    top: 120px;
    position: absolute;
    font-weight: 700;
    font-size: 6.0rem;
    left:0px;
    right: 0;

}

.circle-score .labels {
    color: black;
    position: absolute;
    left: 0;
    bottom: -48px;
    width: 100%;
    font-size: 32px;
}

.clear {
    clear:both;
}

/* Phones and Tablets */
@media only screen and (max-width: 1200px) {
   h1.report {
       width:87.5vw;
       float:none;
       text-align:center;
       font-size:1em;
   } 

   .header-right {
       font-size:1em;
       margin-top:10px;
   }

   .socials {
       float:none;
       text-align:right;
       margin-bottom:15px;
   }

   .tabbank {
       display:none;
   }


   .summaryLeft {
      float:none;
      width:100%;
   }

   .summaryRight {
      float:none;
      width:100%;
   }

   .productTitle, .uniqueFeatureHeader {
      margin-top:30px!important;
   }

   .scoreHeader {
       margin-top:2rem!important;;
   }

   .circle-score {
      height: 240px;
      width: 240px;
      margin-bottom:0.5rem;
   }

   .circle-score .values {
      top:40px;
      font-size:2.0rem;
   }
}

@media only screen and (max-width: 1480px) {

    .tabcontents > section {
        float:none!important;
        display:block!important;
        width:94vw!important;
        margin-bottom:15px;
        height:auto;
     }
}

/* Tablets */
@media only screen and (min-width: 601px) and (max-width:1480px) {

    h1.report {
        width:92.5vw;
    }

   .tabcontents > section {
    float:none!important;
    display:block!important;
    width:95.8vw!important;
    margin-bottom:15px;
    height:auto;
 }
}


